@page "/"

@using BlazorAppDateTimeFormatIssue.Components

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<br />
<br />
<p>Current culture: @System.Threading.Thread.CurrentThread.CurrentCulture</p>
<p>@date <a href="javascript:void(0)" style="color: #606060;" data-target="#modalmodify" data-toggle="modal" @onclick="@(() => Modify())"><span class="oi oi-external-link"></span></a></p>

<ModifyObject OnUpdate="@IsUpdated" DateTimeObject="date" />

@functions {
    public void IsUpdated(DateTime newDate)
    {
        date = newDate;
        this.StateHasChanged();
    }
}

@code {
    private DateTime date = DateTime.Now;

    private void Modify()
    {

    }
}